version: '3.8'
services:
  todo-service:
    build:
      context: .
      dockerfile: Dockerfile.service
    ports:
      - "8081:80"
    volumes:
      - ./data:/data
  todo-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8080:80"
    depends_on:
      - todo-service